/* CSS Document */
*
	{
		font-family: 'Roboto', sans-serif;
		font-weight:200;
		text-shadow:none;	
	}
	body,html
	{
		margin:0px;
		padding:0px;
		height:100%;	
		width:100%;
	}
	#maincont
	{
		height:100%;
		width:100%;	
		color:#FFF;
		padding-top:0px;
		maring-top:0px;	
		position:relative;
		
		overflow-x: hidden;	
		
	}
	#brandingBar
	{
		width:100%;
		height:40px;
		line-height:40px;
		font-size:30px;
		/*background-color:#4B0082;*/
		background-color:#196A9F;
		color:#FFF;	
		text-align:center;
		position:fixed;
		top:0px;
		z-index:99999;
	}
	#scrollableContent
	{
		position:relative;
		padding:20px;
		padding-top:55px;
		overflow-y: scroll;
		overflow-x: hidden;	
		z-index:44444;
		background-color:#EEE;
		height:100%;
		color:#000;
	}
	div.card
	{
		margin:auto;
		/*margin-top:10px;
		margin-bottom:10px;*/
		width: 97%;
		/*height: 100px;*/
		min-height:100px;
		height:25%;
		margin-top:1%;
		margin-bottom:1%;
		background-color: #CCE;
		z-index:44445;
		position:relative;
		cursor:pointer;
	}
	div.card_result, div.card_dynamic
	{
		margin:auto;
		margin-top:10px;
		margin-bottom:10px;
		width: 95%;
		background-color: #CCE;
		z-index:44445;
		position:relative;
		cursor:pointer;
	}
	div.card_dynamic
	{
		cursor:auto;	
	}
	div.cardOverlay
	{
		/*padding-left:10px;
		padding-top:5px;*/
		font-size:38px;
		position:absolute;
		bottom:5px;
		right:10px;
	}
	div.card_result_icons
	{
		float:left;	
		margin:15px;
	}
	#menu
	{
		width:200px;
		height:100%;
		background-color:rgba(47,47,47,.98);
		color:#FFF;
		z-index:55555;
		position:fixed;
		top:40px;
		left:-60%;
		/*overflow-y:scroll;
		overflow-x:hidden;*/
		
	}
	.menubottom
	{
		
		position:absolute;
		bottom:0;	
		
		width:inherit;
		/*position:relative;*/
		z-index:55556;
	}
	.menuitem
	{
		display:block;
		height:40px;
		line-height:40px;
		font-size:24px;
		border-bottom:1px solid #FFF;	
		cursor:pointer;
		position:relative;
	}
	.menuitemr
	{
		display:block;
		height:24px;
		line-height:24px;
		font-size:16px;	
		cursor:pointer;
		position:relative;
		color:#777;
		font-weight:300;
		border-top:1px solid #777;
	}
	.storeOpen
	{
		color:#090;
		font-weight:800;
		margin-top:0px;
		margin-bottom:0px;
	}
	address
	{
		font-color:#CCC;
		font-style:normal;
	}
	table
	{
		border-collapse:collapse;
		border-spacing:10px 50px;
		width:100%;	
	}
	th
	{
		font-weight:500;
	}
	.dth
	{
		opacity:0;	
	}
	tr
	{
		/*outline: thin solid white;*/
		border-bottom:1px solid white;
	}
	/*These next two classes are for the menu button*/
	.border-menu 
	{
  		position: relative;
  		padding-left: 1.25em;
	}
	.border-menu:before 
	{
		  content: "";
		  position: absolute;
		  top: 0.25em;
		  left: 0;
		  width: 1em;
		  height: 0.135em;
		  border-top: 0.4em double #FFF;
		  border-bottom: 0.125em solid #FFF;
	}
	#locationDesc
	{
		/*font-size:15px;*/
		color:#777;
	}
	#fixScroll
	{
		/*height:100px;	*/
		z-index:44444;
		background-color:#EEE;
	}
	#dayDiv
	{
		margin:auto;	
		text-align:center;
		position:relative;
	}
	.day
	{
		display:block;
		text-align:center;
		float:left;
		border:1px solid white;
		width:40px;
		height:40px;
		font-size:28px;
		line-height:40px;
		background-color:#2f2f2f;
		color:#FFFFFF;
	}
	.hours
	{
		opacity:0;
	}
	#searchRegion
	{
		background-color:rgba(47,47,47,.5);
		height:0px;
		padding-left:15px; padding-right:15px;
	}
	#doSearch
	{
		background-color:#196A9F;
		padding:10px;	
		float:left;
		margin-left:5px;
		margin-top:-5px;
		color:#FFFFFF;
	}
	#category
	{
		-webkit-border-radius: .3125em;
		border-radius: .3125em;
		font-size:16px;
	}