.open, .closed, .unknown
{
	color:#000;	
	margin:auto;
	/*width: 97%;*/
	min-height:100px;
	height:25%;
	margin-top:12px;
	margin-bottom:8px;
	margin-left:10px;
	margin-right:10px;
	/*background-color: #E6E6E6;*/
	background-color:#fefefe;
	z-index:44445;
	position:relative;
	cursor:pointer;
	padding-left:5px;
	-webkit-box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.16);
	   -moz-box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.16);
	        box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.16);
}
.openT, .closedT, .unknownT
{
	color:#000;	
	margin:auto;
	width: 97%;
	min-height:100px;
	height:25%;
	margin-top:1%;
	margin-bottom:1%;
	background-color: #E6E6E6;
	z-index:44445;
	position:relative;
	cursor:pointer;
}
.open
{
	border-left:3px solid green;
}
.closed
{
	border-left:3px solid red;
}
.unknown
{
	border-left:3px solid gray;
}
.openT .triangle, .closedT .triangle, .unknownT .triangle
{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 30px 30px 0 0;	
}
.openT .triangle
{
	border-color: green transparent transparent transparent;	
}
.closedT .triangle
{
	border-color: red transparent transparent transparent;	
}
.unknownT .triangle
{
	border-color: gray transparent transparent transparent;	
}
.cardCont
{
	margin-top:-30px;
	padding-left:25px;
}
.cardCont h2
{
	margin-top:0;
	margin-bottom:0;	
}